.lightbox {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
}

.lightbox-none {
  display: none;
}

.lightbox-flex {
  display: flex;
}

.lightbox-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 90%;
  margin: auto;
}

.lightbox-next {
  background: url(../assets/icons/right.svg) center center / 100% 100%;
  right: 0;
}

.lightbox-prev {
  background: url(../assets/icons/left.svg) center center / 100% 100%;
  left: 0;
}

.lightbox-close {
  background: url(../assets/icons/close.svg) center center / 100% 100%;
  position: absolute;
  text-indent: -10000px;
  border: none;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 0;
  z-index: 15;
  cursor: pointer;
}

.lightbox-next,
.lightbox-prev {
  position: absolute;
  top: 50%;
  border: none;
  width: 65px;
  height: 65px;
  text-indent: -10000px;
  cursor: pointer;
}

/* CSS de l'image de la lightbox  */

.image-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.lightbox-img {
  display: flex;
  justify-content: center;
  max-width: 90%;
  height: 100%;
}

.lightbox-img img,
.lightbox-img video {
  object-fit: cover;
  width: 100%;
}

.lightbox-title {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  top: 2%;
}
