* {
  margin: 0;
  padding: 0;
}

/* CSS de la modal de contact  */
#contact_modal {
  display: none;
}

.photograph-header {
  position: relative;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 35px;
  margin: auto;
  position: fixed;
  top: 5%;
  left: 29%;
  gap: 35px;
  /* height: 75%; */
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.first-name {
  font-size: 2em;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 15%;
  border: none;
  border-radius: 5px;
}

#message {
  height: 170px;
}

#prenom,
#nom,
#email {
  height: 50px;
}

#send-form {
  height: 70px;
  width: 170px;
  border-radius: 5px;
  background: #901c1c;
  border: none;
  font-family: "DM SANS";
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}

.opacity-fifty {
  opacity: 50%;
}

/* CSS du header de la page photographe  */

.photograph-header img {
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.photograph-header a article {
  display: flex;
  align-items: center;
}

.photograph-header .info-container {
  position: absolute;
  left: 5%;
  max-width: 40%;
}
.photograph-header .info-container h2 {
  color: #d3573c;
  font-family: "DM Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photograph-header .info-container .cityElement {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 15px;
}

.photograph-header .info-container .taglineElement {
  color: #525252;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photograph-header .img-container {
  position: absolute;
  right: 5%;
}

/* CSS des media  */

.media-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Définir la largeur minimale de la colonne */
  grid-gap: 100px; /* Espacement entre les éléments */
  margin: 50px 100px 150px 100px;
}

.media img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.media video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info-media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.info-media h3 {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-media p {
  color: #901c1c;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.div-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-media .hearth-likes {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.pointer-event-none {
  pointer-events: none;
}

/* CSS de la box de la page photographers qui affiche le totalLikes et le prix  */

.boxMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 24rem;
  height: 5rem;
  background: #db8876;
  z-index: 2;
}

.boxMedia p {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.boxMedia div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hearth-likes-box {
  color: #000;
}
