@import url("photographer.css");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

/* CSS de .photographer_section  */

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 70px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-container {
  text-align: center;
}

.photographer_section article h2 {
  margin: 10px 0 10px 0;
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.photographer_section article img:hover {
  transform: scale(1.1);
}

.cityElement {
  color: #901c1c;
}

.priceElement {
  color: #757575;
}

.taglineElement {
  color: black;
}

a {
  text-decoration: none;
}

.img-container {
  width: 200px;
  height: 200px;
}
